@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-img: url(./components/img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif; */
}